<app-nav-bar></app-nav-bar>
<div class="container mt-5">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group mt-3">
            <label>Nome de Usuário / Email</label>
            <input type="text" class="form-control" [(ngModel)]="formData.identifier" name="name" required />
        </div>
        <div class="form-group mt-3">
            <label>Senha</label>
            <input type="password" class="form-control" [(ngModel)]="formData.password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="!loginForm.valid">Entrar</button>
    </form>
</div>
