<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="reviewModalLabel">Editar Senha</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Fechar"></button>
            </div>
            <form (ngSubmit)="onSubmit()" class="modal-body" *ngIf="userEditData">
                <div class="mb-3">
                    <label class="form-label">Nova Senha:</label>
                    <input type="password" [(ngModel)]="formData.newPassword" name="newPassword" class="form-control"
                        required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirme a nova senha:</label>
                    <input type="password" [(ngModel)]="formData.confirmNewPassword" name="confirmNewPassword"
                        class="form-control" required>
                    <div class="form-text text-danger"
                        *ngIf="formData.newPassword && formData.confirmNewPassword && formData.newPassword !== formData.confirmNewPassword">
                        As senhas não coincidem.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha atual:</label>
                    <input type="password" [(ngModel)]="formData.password" name="password" class="form-control"
                        required>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>