<app-nav-bar></app-nav-bar>

<div class="body-bg min-vh-100 py-4">
    <div class="container text-white">
        <div class="d-flex justify-content-between">
            <h3 class="mb-4">Usuários</h3>
            <div class="ms-3" *ngIf="authService.isLoggedIn() && authService.getLoggedUser()?.role === 'root'">
                <button class="btn btn-outline-light" (click)="goToUserControl()">Gerenciar Usuários</button>
            </div>
        </div>

        <div class="row g-3">
            <ng-container *ngFor="let user of userList">
                <div class="col-md-4" *ngIf="user.status === 'active'" (click)="goToUserProfile(user.id)">
                    <div class="card bg-dark text-white p-3 shadow user-card">
                        <h5 class="mb-0">{{ user.nickname }}</h5>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>

<app-footer></app-footer>