@import url('../../app.component.scss');

::ng-deep ng-select .ng-dropdown-panel .ng-option {
  background-color: #343a40; // Dark background
  color: white;
  border-bottom: 1px solid #495057;
  padding: 8px 12px;
  border-radius: 0.5rem;
}

::ng-deep ng-select .ng-dropdown-panel .ng-option:hover {
  background-color: #495057; // Hover effect
}

::ng-deep .genre-pill {
  cursor: pointer;
  padding: 4px 8px;
  font-size: 0.85rem;
  border-radius: 12px;
  background-color: #0d6efd;
  color: white;
  margin-bottom: 5px;
  display: inline-block;
}

.header {
  background-color: #181d27;
  min-height: 300px;
  color: white;
}

.container-preview {
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  column-gap: 30px;
  grid-template-columns: 215px auto;
}

.description-preview {
  
}

.media-banner {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  z-index: 1;
}

.media-poster {
  position: relative;
  top: -80px;
  z-index: 2;
}

.poster-img {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
